.bg__banner {
    /* background: url('../../public/bgimage.jpeg'); */
    background: url('../assets/banner.jpg');
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: relative;
}
.bg__overlay {
    background-color: rgba(0, 0, 0, 0.5);
}
.bg__anchor {
    background-color: rgba(255, 255, 255, 0.245); 
    backdrop-filter: blur(1px);
}