.closeBtn {
  cursor: pointer;
  font-weight: 500;
  padding: 4px 8px;
  border-radius: 8px;
  border: none;
  font-size: 18px;
  transition: all 0.25s ease;
  box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.06);
  background-color: #ffffff;
  position: absolute;
  right: 0;
  top: 0;
  margin-top: 5px;
  margin-right: 5px;
}
.closeBtn:hover {
  box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.04);
  transform: translate(-4px, 4px);
}
.text__box{
    box-sizing: content-box;
    height: 1.4375em;
    min-width: 0px;
    width: 95%;
    padding: 16.5px 14px;
    font-weight: 500;
    font-size: 12px;
    font-family: "Poppins";
    border-radius: 10px;
    background-color: #f4f0ec;
    border:0px;
    outline: none;
}
.date__picker{
  box-sizing: content-box;
  height: 1.4375em;
  width: 720px;
  padding: 16.5px 14px;
  font-weight: 500;
  font-size: 12px;
  font-family: "Poppins";
  border-radius: 10px;
  background-color: #f4f0ec;
  border:0px;
  outline: none;
}
.submit__button
{
width: 100%;
height: 60px;
background: #f17741; 
@apply hover:bg-[#EE5511];
font-family: "Poppins";
font-weight: 600;
color: white;
outline: 0px;
border: 0px;
border-radius: 90px;
cursor: pointer;
}
.submit__button:hover {
  transition: ease-in 0.2s;
 }
 /* The switch - the box around the slider */
.switch {
    font-size: 17px;
    position: relative;
    display: inline-block;
    width: 3em;
    height: 1.5em;
  }
  /* Hide default HTML checkbox */
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }

  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    inset: 0;
    background: linear-gradient(113.97deg, rgb(20, 25, 37) 6.57%, rgb(32, 62, 84) 103.78%);
    border-radius: 50px;
    transition: all 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  }
  
  .slider:before {
    position: absolute;
    content: "";
    display: flex;
    align-items: center;
    justify-content: center;
    height: 1.5em;
    width: 1.5em;
    inset: 0;
    background-color: white;
    border-radius: 50px;
    box-shadow: 0 10px 20px rgba(0,0,0,0.4);
    transition: all 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  }
  
  .switch input:checked + .slider {
    background: #228B22;
  }
  
  .switch input:focus + .slider {
    box-shadow: 0 0 1px #228B22;
  }
  
  .switch input:checked + .slider:before {
    transform: translateX(1.6em);
  }
.closeBtn{
  cursor: pointer;
}
.closeBtn:hover {
  box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.04);
  transform: translate(-4px, 4px);
}
  /* Media query for tablets (landscape) */
@media screen and (max-width: 768px) {
  .reactmodal__container {
    max-width: 400px; 
    margin-left: 40px;
    background-color: #228B22;
  }
  .date__picker{
    width: 340px;
  }

}
  /* Media query for tablets (landscape) */
@media screen and (min-width: 769px) and (max-width: 1024px) {
  .reactmodal__container {
    max-width: 500px; 
    margin-left: 20px;
    background-color: #228B22;
  }
  .date__picker{
    width: 435px;
  }
}
  /* Media query for tablets (landscape) */
@media screen and (min-width: 769px) and (max-width: 1024px) {
  .reactmodal__container {
    max-width: 500px; 
    margin-left: 20px;
    background-color: #228B22;
  }
}

/* Media query for smaller desktops */
@media screen and (min-width: 1025px) and (max-width: 1440px) {
  .reactmodal__container {
    max-width: 600px; 
    margin-left: auto;
  }
}

/* Media query for larger desktops */
@media screen and (min-width: 1441px) {
  .reactmodal__container {
    max-width: 800px; 
    margin-left: auto;
  }
}

